body, html {
  height: 100%;
  margin: 0;
  text-align: center;
}

section {
  position: relative;
  padding: 20px;
  border: 0px solid #ccc;
  margin-bottom: 20px;
  min-height: 600px;
}

#seccion1 {
  background-color: #F9F9F9;
}

.card-cuadrada {
  height: 240px;
  width: 240px;

}

.card-body-seccion1 {
  height: 240px;
  width: 240px;
  background-color: white;
  border-radius: 20px;
}


.card-text-seccion1 {
  color: black;
  font-size: 18px;
}

#seccion2 {
  background-color: #FFFFFF;
}

.card-seccion2 {
  border: 1;
}

.card-rectangular-seccion2 {
  margin: 3px;
}

.titulo-card-seccion2 {
  font-size: 15px;
}

#seccion3 {
  background-color: #F7F7F7;
}

#seccion4 {
  background-color: #FFFFFF;
}
