
.image-home {
  height: calc(100vh - 400px); /* Adjust the height as needed */
  overflow: hidden;
 img {
  width: 100%;
  filter: brightness(30%);
 }
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  transform: translate(-50%, -50%);
  width: 400px;
}

 .search-wrapper {
  display: flex;
 }

  .search-input {
    width: 400px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px; /* Adjust the gap between cards as needed */
}
