#titulo-principal-index {
  color: white;
  font-size: 42px;
  font-weight: 700;
}

.content-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image-index {
  overflow: hidden;
  position: relative;
}

.image-index img {
  width: 100%;
  filter: brightness(30%);
}

.cardd-index {
  width: 100%;
  height: auto;
  background-color: #FFF;
  align-items: center;
  border-radius: 5px;
}



.container-index {
  background-color: #F7F7F7;
}

.search-form-index {
  display: flex;
}

.search-input-index {
  width: 100%;
  background-color: #FFF;
  text-align: center !important;
}

.search-button-index {
  width: 100%;
  text-align: center !important;
}

.card-rectangular-index {
  width: 80%;

}

#seccion-index-internships {
  background-color: #F7F7F7;
}

.cardd-index:hover{
  transform: scale(1.008);
  transition: 0.2s;
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  text-decoration: none;
}

.no-results {
  width: 50%;
  height: 50%;
}
