<div class="mx-auto container" style="width: 500px;">

  <h2>Pathfinder</h2>
  <p>Encuentra tu camino, a través de la experiencia</p>


  <%= link_to "Empresas", internships_path%>
  <%= link_to "Postulaciones", postulations_path%>

</div>
