
  <h2>Pathfinder</h2>
  <p>Encuentra tu camino, a través de la experiencia</p>
<div class="banner vh-100 position-relative">
  <div class="image-mask">
    <%= image_tag("banner.jpg", style: "width: 100%;", alt: "Chica feliz con su primera pasatia", class: "imagen img-fluid") %>
  </div>
  <h3 class="text-center text-white position-absolute top-50 start-50 translate-middle bg-beige" style="transform: translate(-50%, -50%); margin-top: -50px;">Comienza tu camino profesional con PathFinder</h3>

</div>
