.card-product {
  overflow: hidden;
  height: 120px;
  background: rgb(185, 187, 202);

  display: flex;
  align-items: center;
  margin-bottom: 50px;
  display: -webkit-inline-box;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 1px;
}


.header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.header .image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-color: royalblue;
}


.stars svg {
  height: 1rem;
  width: 1rem;
}

.name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: #253078;
  border-radius: 30px;

}

.message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
}

.card-index {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}


.btn-secondary:hover {
  background-color: #216CE7;
  color: white !important;
}
