.my-header-in {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.my-initial-img {
  position: relative;
  width: 100%;
  height: 300px;
}

.my-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 54px;
  text-align: center;
  z-index: 2;
}

.my-initial-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  margin-top: 10px;
}

.container-one {
  border: 1px solid #e6e5e5;
  border-radius: 7px;
  margin-bottom: 3px;
}

.container-one::before {
  content: "";
  position: absolute;
  top: -900px;
  left: 50%;
  translate: -50% 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: #216ce7;
}

.container-main-two {
  border: 1px solid #e6e5e5;
  border-radius: 7px;
  margin-bottom: 3px;
}

.container-main-two h5 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.container-main-tree h5 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.container-main-tree {
  border: 1px solid #e6e5e5;
  border-radius: 7px;
}

.container-main-one {
  margin-bottom: 2px;
  margin-left: 5px;
  display: flex;
}

.my-titulo {
  margin-bottom: -30px;
  margin-top: 20px;
  margin-left: 20px;
}

.my-emp {
  display: flex;
  margin-left: 20px;
}

.my-img {
  margin-right: 10px;
  border-radius: 7px;
}

.name-container {
  margin-bottom: -42px;
  margin-top: 15px;
}

.name-container p {
  font-size: 20px;
}

.votos i {
  font-size: 15px;
  color: #216ce7;
}

.votos-text {
  font-size: 16px;
}

.my-inf-cont {
  display: flex;
}

.my-inf-cont > div {
  flex: 1;
  padding: 3px;
}

.my-salto {
  display: flex;
}

.colum-one i {
  font-size: 30px;
  margin-left: 70px;
  margin-right: 8px;
}

.colum-twoo i {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 8px;
}

.my-titulo h5 {
  margin-top: -45px;
}

.my-desc {
  margin-left: 20px;
  margin-right: 20px;
}

.my-rounded {
  border-radius: 7px;
}

.container-one-ab {
  border: 1px solid #e6e5e5;
  border-radius: 7px;
  margin-bottom: 3px;
  background-color: #FAF2FE;
}

.container-one-ab:hover {
  background-color: #fdf9ff;
}

.cont-one {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.cont-one h5 {
  font-size: 20px;
  margin-bottom: 3px;
}

.cont-one h6 {
  margin-bottom: 3px;
}

.my-apply {
  background-color: #216CE7;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 30px;
  padding: 15px;
  transition: transform 0.3s;
  cursor: pointer;
  a {
    color: white;
    font-weight: 700;
    font-size: 18px;
  }
}

.my-btn-vol {
  background-color: #216CE7;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 3px;
  cursor: pointer;
  text-align: center;
  a {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
}



.my-apply:hover {
  transform: scale(1.1);
    cursor: pointer;
}

.btn-no {
  background-color: #216CE7;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 30px;
  padding: 15px;
  h4 {
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.container-twoo-ab {
  border: 1px solid #e6e5e5;
  border-radius: 7px;
  margin-bottom: 3px;
}
.container-twoo-ab h5 {
  text-align: center;
  padding-top: 17px;
}
