<ul>
  <% @internships.each do |internship| %>

  <%# Logo de la empresa (user_id)%>

  <li><%=link_to internship.title, internship_path(internship) %></li>
  <li><%#= internship.user_id.name %></li>
   <li><%#= internship.user_id.city %></li>
     <li><%#= internship.user_id.country %></li>
  <li><%= internship.tipo %></li>
  <li><%= internship.duration %></li>
  <% end %>
</ul>
