<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @internship.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment review.rating %></li>
  <% end %>
</ul>

<%= link_to "Delete",
  review_path(@review),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
